
*::-webkit-scrollbar{
  display: none;
          }
/* .image-slide{
  width: 100%;
  height: 100%;
position:absolute;
top:0;
transition: 1s;
object-fit: cover;
}*/
.slide{
 width: 100%;
  height: 100%;
  position:absolute;
top:0;
transition: 1s;
object-fit: cover;
}

.active-brand{
  background-color: rgb(41, 39, 53) !important;
  color: white !important;
  border: 2px solid rgb(41, 39, 53) !important;
}

.active-like{
 color:red;
}